#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [4]:
# Import libraries
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_1samp

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [5]:
data = pd.read_csv('ttest_machine.txt', delim_whitespace=True)

In [6]:
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [7]:
# Hypothesis definition:

# H0: The average packing time of the new machine >= average packing time of the current machine
# H1: The average packing time of the new machine < average packing time of the current machine

In [19]:
# One-tailed t-test:

alpha = 0.05
t_stat, p_val = stats.ttest_ind(data['New_machine'], data['Old_machine'], equal_var=False)

In [20]:
t_stat, p_val/2

(-3.3972307061176026, 0.00162112473315899)

In [7]:
# Comments:

# The negative t_stat (-3.3972) suggests that the mean packing time of the new machine might be lower than 
# that of the current machine and the p_val with a value less than the significance 0.05
# show us that there is evidence to reject the null hypothesis. Therefore, we can assume that 
# the average packing time of the new machine is significantly less than the average packing time of the 
# old one.

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [15]:
data1 = pd.read_csv('pokemon.txt', delimiter=',')

In [16]:
data1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [21]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

# Applying t-tests for all features

    for feature in features:

# Applying it to the current features

        t_statistic, p_value = stats.ttest_ind(s1[feature], s2[feature], equal_var=False)
        
# Saving p-value in the results dictionary with feature name

        results[feature] = p_value
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [22]:
# Different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type)

In [23]:
# Legendary vs. Non-Legendary 

t_test_features(data1[data1['Legendary'] == True], data1[data1['Legendary'] == False], features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

In [24]:
# Generation 1 vs. Generation 2:

t_test_features(data1[data1['Generation'] == 1], data1[data1['Generation'] == 2], features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

In [29]:
# Single-type vs dual-type:

one_type_p = data1[data1['Type 2'].isna()]
two_type_p  = data1[data1['Type 2']!= "NaN"]

In [30]:
t_test_features(one_type_p, two_type_p, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': 0.3773520389961562,
 'Attack': 0.02064617706002506,
 'Defense': 0.0005951505451234572,
 'Sp. Atk': 0.020511100750093547,
 'Sp. Def': 0.020956867129855408,
 'Speed': 0.18742335851301334,
 'Total': 0.0014363313281884442}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [15]:
# The small p-values, very close to 0, suggest that there is strong evidence that there are significant differences 
# between Legendary and non-Legendary.

# These p-values suggest strong evidence against the null hypothesis for each feature.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

#### What conclusions can you make?¶

In [16]:
# For most features (HP, Attack, Defense, Special Attack, Special Defense, and Total), the p-values are 
# notably higher than the significance of 0.05. This suggests that there isn't strong evidence against 
# the H0, implying that there might not be significant differences between Generation 1 and Generation 2 for
# these specific attributes.


# The feature Speed obtained p-value (0.0024), less than 0.05, indicating a potential significant difference 
# in the Speed stat between Generation 1 and Generation 2.

#### Compare pokemons who have single type vs those having two types.
#### What conclusions can you make?

In [17]:
# For HP and Speed, the p-val are higher than 0.05, suggesting no strong evidence of significant differences 
# in means between single and dual types for these attributes.

# For Attack, Defense, Sp. Atk, Sp. Def, and Total, the p-val are below 0.05, indicating strong evidence to reject 
# the null hypothesis. This suggests significant differences in means between single and dual types for these
# attributes.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [18]:
# Attack vs Defense:

attack_defense = stats.ttest_rel(data1['Attack'], data1['Defense'])

print("Attack vs Defense:")
print("T-stat:", attack_defense.statistic)
print("p-value:", attack_defense.pvalue)

# Sp. Atk vs Sp. Def:

sp_atk_sp_def = stats.ttest_rel(data1['Sp. Atk'], data1['Sp. Def'])
print("Sp. Atk vs Sp. Def:")
print("T-statistic:", sp_atk_sp_def.statistic)
print("p-value:", sp_atk_sp_def.pvalue)

Attack vs Defense:
T-stat: 4.325566393330478
p-value: 1.7140303479358558e-05
Sp. Atk vs Sp. Def:
T-statistic: 0.853986188453353
p-value: 0.3933685997548122

#### What conclusions can you make?

In [19]:
# Attack vs Defense:

# P-value is significantly lower than 0.05, suggesting strong evidence against H0. This indicates that there are 
# significant differences between Attack and Defense stats within the same pokemon population.

# Sp. Atk vs Sp. Def:

# P-value is notably higher than 0.05, indicating that there isn't strong evidence against the null hypothesis. 
# This suggests that there might not be significant differences between Special Attack and Special Defense stats
# within the same pokemon population.